<section>
  <h3>Waiting in port</h3>
  <table>
    <thead>
      <tr>
        <th>
          VIN
        </th>
        <th>
          Brand
        </th>
        <th>
          Model
        </th>
        <th>
          Year
        </th>
        <th>
          Color
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vehicle of waitingInPort; let i = index">
      <tr>
        <td>{{vehicle.VIN}}</td>
        <td>{{vehicle.Brand}}</td>
        <td>{{vehicle.Model}}</td>
        <td>{{vehicle.Year}}</td>
        <td>{{vehicle.Color}}</td>
        <td><b>{{getStatus(vehicle.State)}}</b></td>
      </tr>
    </tbody>
  </table>

  <h3>Ready to ship</h3>
  <table>
    <thead>
      <tr>
        <th>
          VIN
        </th>
        <th>
          Brand
        </th>
        <th>
          Model
        </th>
        <th>
          Year
        </th>
        <th>
          Color
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vehicle of readyToShip; let i = index">
      <tr>
        <td>{{vehicle.VIN}}</td>
        <td>{{vehicle.Brand}}</td>
        <td>{{vehicle.Model}}</td>
        <td>{{vehicle.Year}}</td>
        <td>{{vehicle.Color}}</td>
        <td><b>{{getStatus(vehicle.State)}}</b></td>
      </tr>
    </tbody>
  </table>

  <h3>In transit</h3>
  <table>
    <thead>
      <tr>
        <th>
          VIN
        </th>
        <th>
          Brand
        </th>
        <th>
          Model
        </th>
        <th>
          Year
        </th>
        <th>
          Color
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vehicle of inTransit; let i = index">
      <tr>
        <td>{{vehicle.VIN}}</td>
        <td>{{vehicle.Brand}}</td>
        <td>{{vehicle.Model}}</td>
        <td>{{vehicle.Year}}</td>
        <td>{{vehicle.Color}}</td>
        <td><b>{{getStatus(vehicle.State)}}</b></td>
      </tr>
    </tbody>
  </table>

  <h3>Waiting in area</h3>
  <table>
    <thead>
      <tr>
        <th>
          VIN
        </th>
        <th>
          Brand
        </th>
        <th>
          Model
        </th>
        <th>
          Year
        </th>
        <th>
          Color
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vehicle of waitingInArea; let i = index">
      <tr>
        <td>{{vehicle.VIN}}</td>
        <td>{{vehicle.Brand}}</td>
        <td>{{vehicle.Model}}</td>
        <td>{{vehicle.Year}}</td>
        <td>{{vehicle.Color}}</td>
        <td><b>{{getStatus(vehicle.State)}}</b></td>
      </tr>
    </tbody>
  </table>

  <h3>Ready to sell</h3>
  <table>
    <thead>
      <tr>
        <th>
          VIN
        </th>
        <th>
          Brand
        </th>
        <th>
          Model
        </th>
        <th>
          Year
        </th>
        <th>
          Color
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vehicle of readyToSell; let i = index">
      <tr>
        <td>{{vehicle.VIN}}</td>
        <td>{{vehicle.Brand}}</td>
        <td>{{vehicle.Model}}</td>
        <td>{{vehicle.Year}}</td>
        <td>{{vehicle.Color}}</td>
        <td><b>{{getStatus(vehicle.State)}}</b></td>
      </tr>
    </tbody>
  </table>

  <h3>Sold</h3>
  <table>
    <thead>
      <tr>
        <th>
          VIN
        </th>
        <th>
          Brand
        </th>
        <th>
          Model
        </th>
        <th>
          Year
        </th>
        <th>
          Color
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vehicle of sold; let i = index">
      <tr>
        <td>{{vehicle.VIN}}</td>
        <td>{{vehicle.Brand}}</td>
        <td>{{vehicle.Model}}</td>
        <td>{{vehicle.Year}}</td>
        <td>{{vehicle.Color}}</td>
        <td><b>{{getStatus(vehicle.State)}}</b></td>
      </tr>
    </tbody>
  </table>
</section>
